* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul, ol {
  list-style: none;
}
ul li, ol li {
  text-decoration: none;
}
ul a, ol a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  font-weight: bolder;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(227, 232, 223);
  padding: 10px;
  position: relative;
  width: 100%;
}
.header__title {
  font-size: 1rem;
  text-align: start;
  padding: 5px;
  margin: 5px;
}
.header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__logo img {
  width: 80px;
  height: 105px;
  padding: 10px;
}

@media (min-width: 480px) {
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(227, 232, 223);
    padding: 10px;
    position: relative;
    width: 100%;
  }
  .header__title {
    font-size: 1.15rem;
    text-align: start;
    padding: 5px;
    margin: 5px;
  }
  .header__logo img {
    width: 85px;
    height: 110px;
    padding: 10px;
  }
}
@media (min-width: 600px) {
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(227, 232, 223);
    padding: 10px;
    position: relative;
    width: 100%;
  }
  .header__title {
    font-size: 1.5rem;
    text-align: start;
    padding: 5px;
    margin: 5px;
  }
  .header__logo img {
    width: 95px;
    height: 120px;
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(227, 232, 223);
    padding: 10px;
    position: relative;
    width: 100%;
  }
  .header__title {
    font-size: 1.8rem;
    text-align: start;
    padding: 5px;
    margin: 5px;
  }
  .header__logo img {
    width: 135px;
    height: 135px;
    padding: 10px;
  }
}
@media (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(227, 232, 223);
    padding: 10px;
    position: relative;
    width: 100%;
  }
  .header__title {
    font-size: 1.7rem;
    text-align: start;
    padding: 5px;
    margin: 5px;
  }
  .header__logo img {
    width: 115px;
    height: 130px;
    padding: 10px;
  }
}
@media (min-width: 1200px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(227, 232, 223);
    padding: 20px;
    position: relative;
    width: 100vw;
  }
  .header__title {
    font-size: 2rem;
    text-align: start;
    padding: 5px;
    margin: 5px;
  }
  .header__logo img {
    width: 115px;
    height: 140px;
    padding: 10px;
  }
}
.navbar {
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  justify-content: space-between;
  width: 100%;
  padding-top: 5px;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.7rem;
  width: 95%;
  padding-top: 8px;
}

@media (width-min: 1024px) {
  .navbar {
    width: 50%;
    justify-items: center;
  }
  .navbar ul {
    font-size: 1rem;
    width: 90%;
    padding-top: 90px;
  }
}
@media (width-min: 1200px) {
  .navbar {
    display: flex;
    justify-content: center;
  }
  .navbar ul {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    width: 100vw;
    padding-top: 90px;
  }
}
.hero {
  grid-area: hero;
  height: 85vh;
  background-image: url(../assets/cactus_optimized.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-attachment: fixed;
}
.hero__text {
  text-align: center;
}
.hero__text h2 {
  color: white;
  font-size: 2rem;
  font-weight: 550;
  padding: 15px;
}
.hero__text h3 {
  color: white;
  font-size: 1rem;
  font-weight: 550;
}

/*# sourceMappingURL=styles.css.map */
