.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    background-color: rgb(227, 232, 223);
    padding: 10px;
    position: relative;
    width: 100%;
    &__title {
        font-size: 1rem;
        text-align:start;
        padding: 5px;
        margin: 5px;
    }
    &__logo {
        display: flex;
        flex-direction: row;
        align-items:center;
    }
    &__logo img{
        width: 80px;
        height: 105px;
        padding: 10px;
        
    }
}

@media(min-width: 480px){
    .header{
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    background-color: rgb(227, 232, 223);
    padding: 10px;
    position: relative;
    width: 100%;
    }
    .header__title{
        font-size: 1.15rem;
        text-align:start;
        padding: 5px;
        margin: 5px;
    }
    .header__logo img{
        width: 85px;
        height: 110px;
        padding: 10px;
    }
}

@media(min-width: 600px){
    .header{
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    background-color: rgb(227, 232, 223);
    padding: 10px;
    position: relative;
    width: 100%;
    }
    .header__title{
        font-size: 1.5rem;
        text-align:start;
        padding: 5px;
        margin: 5px;
    }
    .header__logo img{
        width: 95px;
        height: 120px;
        padding: 10px;
    }
}

@media(min-width: 768px){
    .header{
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    background-color: rgb(227, 232, 223);
    padding: 10px;
    position: relative;
    width: 100%;
    }
    .header__title{
        font-size: 1.8rem;
        text-align:start;
        padding: 5px;
        margin: 5px;
    }
    .header__logo img{
        width: 135px;
        height: 135px;
        padding: 10px;
    }
}

@media(min-width: 1024px){
    .header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    background-color: rgb(227, 232, 223);
    padding: 10px;
    position: relative;
    width: 100%;
    }
    .header__title{
        font-size: 1.7rem;
        text-align:start;
        padding: 5px;
        margin: 5px;
    }
    .header__logo img{
        width: 115px;
        height: 130px;
        padding: 10px;
    }
}

@media(min-width: 1200px){
    .header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: rgb(227, 232, 223);
    padding: 20px;
    position: relative;
    width: 100vw;
    }
    .header__title{
        font-size: 2rem;
        text-align:start;
        padding: 5px;
        margin: 5px;
    }
    
    .header__logo img{
        width: 115px;
        height: 140px;
        padding: 10px;
    }
}