*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul,ol{
        list-style: none;
        li{
            text-decoration: none;
        }
        a{
            text-decoration:none;
            color: black;
        }
    }